/* #container ,#box {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
} */

/* #box{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
} */

/* div p {
    color: aqua;
} */

/* #container #para1,.para{
    color: brown;
}

input:focus
{
    border: 40px solid greenyellow;
} */
